{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <form method="POST">
   		{% csrf_token %}
   		 <div class="form-group row">
   			    <label for="cedula" class="col-sm-2">Cedula</label>
            <div class="col-sm-10">
                {% render_field form.ci class="form-control" %}
                {{ form.ci.errors }}
            </div>
        </div>
        <div class="form-group row">
   			    <label for="mes" class="col-sm-2">Mes</label>
            <div class="col-sm-10">
               	{% render_field form.month class="form-control" %}
            </div>
        </div>
        <div class="form-group row">
            <label for="año" class="col-sm-2">Año</label>
            <div class="col-sm-10">
                {% render_field form.year class="form-control" %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
   </form>

{% endblock %}
