{% extends 'layout.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    {% for u in users %}
        <li class="list-group-item list-group-item-success">{{ u.name  }}</li>
        <li class="list-group-item">Ficha: {{ u.badgenumber }}</li>
        <li class="list-group-item">Cedula: {{ u.ssn }}</li>
        <li class="list-group-item">Titulo: {{ u.title }}</li>
        <li class="list-group-item">Fecha de nacimiento: {{ u.birthday }}</li>
    {% endfor%}

{% endblock %}
