{% extends 'print.html' %}
{% load widget_tweaks %}
{% load usersinfo_extras %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    
    {% for item in user %}
        <br>
        <br>
        <p>
            Certifico: Que el Señor {{ item.name }}, con cédula de identidad civil N°  {{ item.ssn }}, es funcionario permanente de la Agencia Nacional de Evaluación y Acreditación de la Educación Superior (ANEAES), se desempeña en el cargo de <input type="text">, categoría <input type="text"> con una remuneración de <input type="text"> <input type="text">, nombrado por Resolución ANEAES N° <input type="text">, con antigüedad de {{ item.hiredday|subDate }}.
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>Norys Cubilla</p>
        <p>Departamento de Desarrollo de Talento</p>
        <p>ANEAES</p>
    {% endfor %}

{% endblock %}